@import "../../styles/shared-styles.css";

dialog {
    padding: 0;
    border: none;
    border-radius: 1rem;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
}

dialog > div {
    margin: 2em 2em;
    text-align: center;
}

.title {
    font-size: 2rem;
}

.paragraph {
    font-size: 1.2rem;
}
