@import "vars.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    font-family: "Poppins";
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background: var(--primary);
    color: var(--background);
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

nav > div {
    height: 100%;
    width: 100%;
    margin: 0 4rem;
    font-size: 1.2rem;
}

#basket-icon {
    width: 2rem;
    fill: white;
}

#basket-details {
    background: var(--contrast);
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 0.6em;
    position: absolute;
    top: 2em;
    right: 4em;
}

.basket-grid {
    display: grid;
    grid-template-columns: 4em auto 1fr 1fr 1fr;
    gap: 0.5em;
    align-items: center;
    justify-items: center;
}

.grid-title {
    font-weight: bold;
}

#basket {
    gap: 0.5em;
}

.basket-image {
    height: 100%;
    aspect-ratio: 4/3;
}

main {
    max-width: 50rem;
    margin: 4rem auto 0 auto;
}

#catalog {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.item {
    width: 15em;
    background-color: var(--faint);
    padding: 0.6em;
    border-radius: 1em;
    transition: box-shadow 100ms;
}

.item:hover {
    box-shadow: 0.1em 0.2em 0.2em #ddd;
}

.item-image {
    width: 100%;
    aspect-ratio: 4/3;
    display: grid;
    place-content: center;
    object-fit: cover;
}

.item-description {
    display: flex;
    justify-content: space-between;
    padding: 0.5em 0.3em 0 0.3em;
}

.item-name {
    font-weight: bold;
}

button:disabled:hover {
    background-color: var(--secondary);
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.btn {
    border: none;
    padding: 0.5em 0.7em;
    border-radius: 0.5em;
    font-size: 1rem;
    background-color: var(--secondary);
    color: white;
    transition: background-color 100ms;
}

.btn:hover {
    background-color: var(--primary);
}

footer {
    margin-top: 4rem;
    width: 100%;
    text-align: center;
}
